
<%= link_to 'Back to topics', topics_path %>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Focus Area:</strong>
  <%= @topic.focus_area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
