<h6 class="sidebar_title"> Stats </h6>
<div class="stats">
  <ul class="stat_list">
    <li><span class="stat_number"><%= User.all.count %></span> Users</li>
    <li><span class="stat_number"><%= Topic.all.count %></span> Topics</li>
    <li><span class="stat_number"><%= Interest.all.count %></span> Interests</li>
  </ul>
</div>

<h6 class="sidebar_title"> Hot Topics </h6>
  <div class="hot_topics">
    <ul class="hot_topics_list">
    <li><div class="topic_placement">1</div>Topic Title 1 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 5</li>
    <li><div class="topic_placement">1</div>Topic Title 2 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 4</li>
    <li><div class="topic_placement">1</div>Topic Title 3 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 2</li>
  </ul>
</div>
