<h6 class="sidebar_title"> Stats </h6>
<div class="stats">
  <ul class="stat_list">
    <li><span class="stat_number"><%= User.all.count %></span> Users</li>
    <li><span class="stat_number"><%= Topic.all.count %></span> Topics</li>
    <li><span class="stat_number"><%= Interest.all.count %></span> Interests</li>
  </ul>
</div>

<h6 class="sidebar_title"> Hot Topics </h6>
<ul class="hottopic">
  <li>Topic 1</li>
  <li>Topic 2</li>
  <li>Topic 3</li>
</ul>
