<h6 class="sidebar_title"> Stats </h6>
<div class="stats">
  <ul class="stat_list">
    <li><span class="stat_number"><%= User.all.count %></span> Users</li>
    <li><span class="stat_number"><%= Topic.all.count %></span> Topics</li>
    <li><span class="stat_number"><%= Interest.all.count %></span> Interests</li>
  </ul>
</div>

<h6 class="sidebar_title"> Hot Topics </h6>
  <div class="hot_topics">
    <ul class="hot_topics_list">





    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Most commented topic <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> #</li>
    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Most commented topic <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> #</li>
    <li><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Most commented topic <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> #</li>
  </ul>
</div>
