/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Site-wide
body {
  font-family: 'Open Sans', sans-serif;
  color: #252839;
}
ul {
  list-style: none;
  margin: 0;
}
.heading {
  font-size: 20px;
  margin-bottom: 30px;
}


// Forms
.border-form-div {
  max-width: 400px;
  padding: 20px 30px 30px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 4px 3px rgba(0,0,0,.08);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 15px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 9px;
}
textarea, input {
  border-bottom: 1px solid #eee;
  border-top: none;
  border-left: none;
  border-right: none;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(252, 201, 99, 0.8);
    box-shadow: 0 1px 1px rgba(252, 201, 99, 0.075) inset, 0 0 8px rgba(252, 201, 99, 0.6);
    outline: 0 none;
}
.form_title {
  text-align: center;
  color:#f2b632;
  padding-bottom: 20px;
}
.form_buttons {
  text-align: center;
}
.btn-warning {
  margin: 10px 5px;
}
// Navbar
.navbar,
.navbar-default {
  background-color: #252839;
  color: #fff;
  padding: 5px 40px;
  margin-bottom: 0;
}
.navbar {
  border-radius: 0;
}
.navbar-default{
   border: none;
 }
.brand {
  color: #fff;
  font-size: 22px;
}
.brand_italic {
  font-style: italic;
  color: #f2b632;
}
.initial_icon {
  padding: 5px 8px 0 0;
}
.username {
  padding: 15px 15px 0 0;
  color: #f2b632;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
.nav-tabs {
  margin-left: 90px;
  margin-right: 90px;
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-top: 5px solid #f2b632;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover {
  border: none;
  color: #252839;
  border-radius: 0;
}
.glyphicon {
  font-size: 12px;
  padding-right: 5px;
}
.nav_tab {
  padding-top: 5px;
  background-color: #eee;
}
.nav_tab > a:hover {
  font-style: italic;
  font-weight: bold;
}
.tabs {
  background-color: #eee;
}

// Index
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.topic_title {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #b5b5b7;
  font-size: 14px;
  font-weight: bold;
}
.topic_info {
  font-size: 10px;
}
.focus {
  background-color: #f2b632;
  padding: 2px 6px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.panel-body {
  padding: 5px;
}
.panel {
  margin-bottom: 5px;
  border-radius: 0;
  border: none;
}
.panel:hover {
  background-color: #eee;
  margin-bottom: 5px;
  border-radius: 0;
  border: none;
}
.number_interests {
  vertical-align:text-top;
}
.topic_panel {
  color: inherit;
}
.topic_panel:hover {
  color: inherit;
  text-decoration: inherit;

}




// Sidebar
.sidebar_title {
  text-transform: uppercase;
  border-bottom: 1px solid #b5b5b7;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #b5b5b7;
}
.stats {
  background-color: #FCF0D6;
  color: #677077;
  padding: 5px 0;
  margin-bottom: 40px;
}
.stat_list {
  padding-left: 20px;
}
.stat_list > li{
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 0;
}
.stat_number {
  font-size: 22px;
  padding-right: 5px;
}
.hot_topics {
  padding: 5px 0;
}
.hot_topics_list {
  padding-left: 0px;
  min-width: 226px;
}
.hot_topics_list > li {
margin-bottom: 10px;
}
.glyphicon-fire {
  color: #f2b632;
}
.glyphicon-comment {
  color: #b5b5b7;
}
